<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <defaultDocument>
            <files>
                <add value="Myweb2.html" />
            </files>
        </defaultDocument>
    </system.webServer>

  <connectionStrings>
        <add name="UserDataDB" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=UserDataDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>

</configuration>
